.form {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px 16px;
    border-radius: 3px;
    display: block;
}

.form-group {
    margin: 3px;
    font-size: 10pt;
}

.form-component {
    border-radius: 3px;
    width:100%;
}

.warning {
    color:red;
    margin:5px;
    font-size: 10pt
}
